@import "../../assets/styles/app.scss";

.nav {
  height: 70px;
  width: 100%;
  padding: 5px 12%;

  box-sizing: border-box;
  box-shadow: 0px 0px 0px 0.5px #000;
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &-brand {
    &__img {
      width: 50px;
      height: 50px;
    }
  }
  &-category {
    &__menu {
      display: flex;
      justify-content: space-between;
      flex-direction: columns;

      width: 30vw;

      .menu-item {
        font-weight: bold;
        font-size: 22px;
      }
    }
  }
  &-addon {
    height: fit-content;
    width: fit-content;

    &-auth {
      padding-top: 5px;
      display: flex;
      align-items: center;

      .auth-signin {
        .btn-signin {
        }
      }
      .auth-signup {
        .btn-signup {
        }
      }

      .btn {
        .auth__btn {
        }
      }
    }
  }
}
