.nav {
  width: 100%;
  padding: 5px 12%;

  display: flex;
  justify-content: space-between;

  &-brand {
    &__img {
    }
  }
  &-category {
    &__menu {
      display: flex;
      justify-content: space-between;
      flex-direction: columns;

      .menu-item {
      }
    }
  }
  &-addon {
    &-auth {
      .auth-signin {
        .btn-signin {
        }
      }
      .auth-signup {
        .btn-signup {
        }
      }

      .btn {
        .auth__btn {
        }
      }
    }
  }
}
