@import "../../assets/styles/app.scss";

.navbar {
  box-shadow: 0px 0px 3px 0.1px rgb(54, 53, 53);
  box-sizing: border-box;
  height: 90px;

  &-brand {
    height: 100%;

    img {
      height: 100%;
    }
  }

  &-menu {
    &__item {
      width: 150px;
      height: 80%;

      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
